<nav class="navbar navbar-expand-lg " style="background-color: #28a745">
    <a class="navbar-brand" href="/" style="padding-left: 7px">CRM Система</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Все Заявки</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/new_applications">Новые Заявки</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/worked_out_applications">Обработанные Заявки</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/add_application">+Добавить Заявку</a>
            </li>
        </ul>
    </div>
</nav>