<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="MainLayout.html">

<h4 class="card-title" layout:fragment="Nametype" th:text="${Type}"></h4>
<div layout:fragment="MainInformation">
    <li class="position-relative booking" th:each="req:${requestList}"
        style="border: 1px solid grey;border-radius: 5px;width: 47%;padding: 5px;display: inline-block;margin: 15px">
        <div class="media">
            <div class="media-body">
                <h5 class="mb-4" th:if="${req.isHandled()==false}" style="display:inline;color: red">
                    *(Новая) </h5>
                <h5 class="mb-4" style="display:inline;" th:text="${req.getUserName()}"></h5>
                <div class="mb-3">
                    <span class="mr-2 d-block d-sm-inline-block mb-2 mb-sm-0">Курс:</span>
                    <span class="border-right pr-2 mr-2" th:text="${req.getCourseName()}"></span>
                </div>
                <div class="mb-3">
                                        <span class="mr-2 d-block d-sm-inline-block mb-2 mb-sm-0"
                                              th:text="${req.getCommentary()}"></span>
                </div>
                <div class="mb-3">
                    <span class="mr-2 d-block d-sm-inline-block mb-1 mb-sm-0">Тел:</span>
                    <span class="border-right pr-2 mr-2" th:text="${req.getPhone()}"></span>
                    <a th:href="@{'/details/'+${req.id}}" class="btn-blue" th:name="id"> Подробнее</a>
                </div>
            </div>
        </div>
    </li>
</div>
</body>
</html>